<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link href='bootstrap/css/bootstrap.min.css' rel='stylesheet' />
</head>
<body>

Who are you?
<textarea rows="4" cols="50" placeholder="Describe yourself here..."></textarea>

<p><strong>Note:</strong> The placeholder attribute of the textarea tag is not supported in Internet Explorer 9 and earlier versions.</p>


<script src='js/jquery-1.11.0.min.js'></script>
<script src='bootstrap/js/bootstrap.min.js'></script>

</body>
</html>